# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
pokemon = pd.read_csv("Pokemon.csv")
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# What is the formula to compute Total?
# Total = HP + Attack + Defense + Sp. Atk + Sp. Def + Speed
pokemon['Total_2'] = pokemon['HP']+pokemon['Attack']+pokemon['Defense']+pokemon['Sp. Atk']+pokemon['Sp. Def']+pokemon['Speed']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

In [4]:
pokemon['Test'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Sp. Atk'] + pokemon['Sp. Def'] + pokemon['Speed']

pd.set_option('display.max_rows', None)

# pokemon['Total_1_2'] = pokemon['Total']==pokemon['Test']
# pokemon['Total_1_2']

In [5]:
pd.set_option('display.max_rows', 10)
pokemon[['#', 'Name', 'Type 1', 'Type 2', 'Total', 'Test', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']]

,#,Name,Type 1,Type 2,Total,Test,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,600,80,110,120,130,90,70,6,True

In [6]:
# Does the formula work for all pokemon?
# def test(row):
#     if str(['Total']) == str(['Total_2']) :
#         return True
#     else:
#         return False    
# pokemon['Test'] == pokemon.apply(test, axis=1)
# pokemon.head(10)
# pokemon.dtype
# count(False)
# pokemon['Test']
# don't work!

# def total(row):
#     sumrowa = row['HP']+row['Attack']+row['Defense']+row['Sp. Atk']+row['Sp. Def']+row['Speed']
#     return sumrow

# pokemon['Total'] = pokemon.apply(total, axis=1)
# pokemon.head(10)

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [7]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [8]:
pokemon['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [9]:
pokemon['Type 2'] = pokemon['Type 2'].fillna('')
pd.set_option('display.max_rows', None)
pokemon['Type 2'].value_counts()

            386
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Ice          14
Rock         14
Water        14
Ghost        14
Fire         12
Electric      6
Normal        4
Bug           3
Name: Type 2, dtype: int64

In [10]:
pd.set_option('display.max_rows', 10)
pokemon.sort_values(by=['Total'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_2,Test
206,191,Sunkern,Grass,,180,30,30,30,30,30,30,2,False,180,180
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,190,190
446,401,Kricketot,Bug,,194,37,25,41,25,41,25,4,False,194,194
288,265,Wurmple,Bug,,195,45,45,35,20,30,20,3,False,195,195
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,195,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,770,770
422,382,KyogrePrimal Kyogre,Water,,770,100,150,90,180,160,90,3,True,770,770
164,150,MewtwoMega Mewtwo Y,Psychic,,780,106,150,70,194,120,140,1,True,780,780
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,780,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780,780

In [11]:
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import sklearn

In [12]:
type1 = pokemon.select_dtypes(include='object')
type1 = type1.drop(['Type 2', 'Name'], axis=1)
type1.head()

  Type 1
0  Grass
1  Grass
2  Grass
3  Grass
4   Fire

In [13]:
encoder = OneHotEncoder().fit(type1) 
cols1 = encoder.get_feature_names_out(input_features=type1.columns)

In [14]:
type1_encode = pd.DataFrame(encoder.transform(type1).toarray(),columns=cols1)
type1_encode.head()
type1_encode.shape

(800, 18)

In [15]:
type2 = pokemon.select_dtypes(include='object')
type2 = type2.drop(['Type 1', 'Name'], axis=1)
type2.head()

   Type 2
0  Poison
1  Poison
2  Poison
3  Poison
4

In [16]:
encoder2 = OneHotEncoder().fit(type2) 
cols2 = encoder2.get_feature_names_out(input_features=type2.columns)

In [17]:
type2_encode = pd.DataFrame(encoder2.transform(type2).toarray(),columns=cols2)
type2_encode.head()
type2_encode.shape

(800, 19)

In [18]:
type_encode = pd.concat([type1_encode, type2_encode], axis=1)
type_encode.head()

,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
def add_type_columns(df):
    types = ['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire', 'Flying',
             'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison', 'Psychic', 'Rock', 'Steel', 'Water']
    for t in types:
        type_1_col = f'Type 1_{t}'
        type_2_col = f'Type 2_{t}'
        if type_1_col in df.columns and type_2_col in df.columns:
            df[f'{t}'] = df[type_1_col] + df[type_2_col]
            df.drop([type_1_col, type_2_col], axis=1, inplace=True) 
    return df
type_encode1 = add_type_columns(type_encode)
type_encode1 = type_encode1.drop(['Type 2_'], axis = 1)
type_encode1

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
796,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
798,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [20]:
correlations_matrix = type_encode1.corr()
display(correlations_matrix)

,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
Type 1_Bug,1.000000,-0.061686,-0.062713,-0.074119,-0.045270,-0.057419,-0.081006,-0.021779,-0.062713,-0.095138,...,-0.007046,0.098365,-0.022177,-0.041003,-0.021779,0.200143,-0.063727,0.060868,0.138928,-0.007046
Type 1_Dark,-0.061686,1.000000,-0.040984,-0.048438,-0.029584,-0.037524,-0.052938,-0.014233,-0.040984,-0.062173,...,0.071991,-0.036061,-0.042946,0.071991,-0.014233,-0.042300,0.023490,-0.026796,0.045446,-0.026796
Type 1_Dragon,-0.062713,-0.040984,1.000000,-0.049245,-0.030077,-0.038149,-0.053820,-0.014470,-0.041667,-0.063209,...,-0.027243,-0.036662,0.112272,0.118700,-0.014470,-0.043005,0.085964,-0.027243,-0.034325,-0.027243
Type 1_Electric,-0.074119,-0.048438,-0.049245,1.000000,-0.035547,-0.045088,-0.063609,-0.017102,-0.049245,-0.074706,...,0.009617,-0.011817,-0.051602,0.009617,0.138368,-0.050827,-0.050041,-0.032197,0.060014,0.009617
Type 1_Fairy,-0.045270,-0.029584,-0.030077,-0.035547,1.000000,-0.027538,-0.038850,-0.010445,-0.030077,-0.045628,...,-0.019665,-0.026464,-0.031517,-0.019665,-0.010445,-0.031043,-0.030563,-0.019665,-0.024778,-0.019665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Type 2_Poison,0.200143,-0.042300,-0.043005,-0.050827,-0.031043,-0.039375,-0.055549,-0.014935,0.083480,0.263700,...,-0.028118,-0.037839,-0.045064,-0.028118,-0.014935,1.000000,-0.043700,-0.028118,-0.035428,-0.028118
Type 2_Psychic,-0.063727,0.023490,0.085964,-0.050041,-0.030563,0.065654,-0.003697,-0.014704,-0.042340,-0.019742,...,-0.027683,-0.037254,-0.044367,-0.027683,-0.014704,-0.043700,1.000000,-0.027683,-0.034880,-0.027683
Type 2_Rock,0.060868,-0.026796,-0.027243,-0.032197,-0.019665,-0.024943,0.003480,-0.009461,-0.027243,-0.041328,...,-0.017812,-0.023970,-0.028547,-0.017812,-0.009461,-0.028118,-0.027683,1.000000,-0.022443,-0.017812
Type 2_Steel,0.138928,0.045446,-0.034325,0.060014,-0.024778,0.053226,-0.013332,-0.011921,-0.034325,0.002029,...,-0.022443,-0.030202,-0.035969,-0.022443,-0.011921,-0.035428,-0.034880,-0.022443,1.000000,-0.022443
Type 2_Water,-0.007046,-0.026796,-0.027243,0.009617,-0.019665,-0.024943,0.003480,-0.009461,-0.027243,-0.041328,...,-0.017812,-0.023970,-0.028547,-0.017812,-0.009461,-0.028118,-0.027683,-0.017812,-0.022443,1.000000

In [21]:
type_encode1['Total'] = pokemon['Total']
correlations = type_encode1.corr()
correlations_sorted = correlations['Total'].sort_values(ascending=False)
pd.set_option('display.max_rows', None)
print(correlations_sorted.head(20))

Total              1.000000
Type 1_Dragon      0.196532
Type 2_Fighting    0.138726
Type 2_Dragon      0.115240
Type 2_Ice         0.100870
Type 1_Psychic     0.094364
Type 1_Steel       0.082000
Type 2_Psychic     0.076054
Type 2_Fire        0.073234
Type 2_Steel       0.070307
Type 2_Dark        0.065844
Type 2_Flying      0.054048
Type 1_Fire        0.050527
Type 1_Rock        0.037524
Type 1_Flying      0.029504
Type 1_Dark        0.017818
Type 1_Electric    0.016715
Type 2_Ground      0.016486
Type 2_Electric    0.014669
Type 1_Ghost       0.007594
Name: Total, dtype: float64

In [24]:
pd.set_option('display.max_rows', 20)

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [22]:
# your code here